*{
    background-color: black;
    color: white;
}

div, #root{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.memories{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: outset;
    border-radius: 1rem;
    width: 80vw;
}

.memories_img{
    margin-left: 10px;
    height: 50px;
}

.posts{
    display: flex;
    justify-content: space-between;
}

/* all buttons */
button{
    border: none;
    background: none;
    color: white;
}

button:hover{
    cursor: pointer;
}