.memory{
    border-style: dashed;
    width: 20vw;
    padding: 0 1rem 1rem 1rem;
    margin-right: 0.5rem;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image{
    width: 20vw;
}

.upper{
    border-bottom: solid;
}

.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
}