.posts{
    width: 80vw;
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top: 1rem;
    justify-content: center;
}

.forms{
    height: 700px;
    position: sticky;
    bottom: 20px;
    margin-bottom: 40px;
}