.container{
    box-sizing: border-box;
    display: flex;
    align-content: center;
    background-color: rgb(52, 51, 71);
    width: 80vw;
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 1rem;
}

.container:last-child{
    flex-direction: column;
    background-color: rgb(34, 32, 56);
}

.recommendedPosts{
    display: flex;
}

.post{
    width: 15%;
    background-color: rgb(52, 51, 71);
    border-radius: 1rem;
    margin-right: 1rem;
    padding: 1rem;
}

.left{
    border-style: solid;
    width: 50%;
}

.post_img{
    width: 50%;
}

.img{
    border-radius: 1rem;
    width: 100%;
}

.title{
    font-size: 50px; 
    margin: 0;
}

.tags{
    color: rgb(184, 184, 184);
}

.commentSection{

}